<%= render 'shared/sidebar_badges' %>

<div class="body-container">
  <div class="inbox-title">
    <h1><%= @badge.title %> Badge</h1>
  </div>

    <%= link_to badges_path do %>
      <i class="back-button fas fa-chevron-circle-left m-3"></i>
    <% end %>


  <div class="container">

    <div class="card-product m-3">
      <%= image_tag(@badge.image_url, class: "badge-image-show") %>
      <div class="card-product-infos">
        <h3 class="badge-description"> <em><%= @badge.description %></em> </h3>

      </div>
    </div>
  </div>

</div>

