<%= render 'shared/sidebar' %>

<div class="body-container">
  <div class="inbox-title">
    <h1><%= @badge.title %> Badge</h1>
  </div>

  <div class="inbox-container">

    <%= link_to profile_id_path(params[:profile]) do %>
      <i class="back-button fas fa-chevron-circle-left m-3"></i>
    <% end %>
    <div class="badge-show-center m-3">
      <%= image_tag(@badge.image_url, class: "badge-image-show mb-4") %>
      <div class="card-product-infos mt-4">
        <h3 class="badge-description"> <em><%= @badge.description %></em> </h3>

      </div>
    </div>
  </div>
</div>

