<div class="modal fade capsule_open_bd-example-modal-<%= capsule.id %>"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

    <div class="modal-content" style="border-radius: 25px;">

      <div class="modal-header">
        <div>
        <h2 class="ml-4 mt-4"><%= capsule.title %> </h2>
          <p>
            <em class='details-open ml-4 mt-4' id="sent-date">Sent on <%= capsule.created_at.strftime("%d/%m/%Y")  %> by <%= capsule.owner.first_name.capitalize %> and arrived on <%= capsule.arrival_date.strftime("%d/%m/%Y") %></em>
          </p>
        </div>
          <div class="open-avatar mr-4 mt-4"><%= capsule.owner.first_name[0].upcase %></div>
      </div>

      <div class="modal-body ml-4">
        <p><%= capsule.message %></p>
      </div>
      <div class="capsule-buttons-align">

        <%= link_to capsule_path(capsule), method: :patch, class: "p-4 m-4 btn btn-block primary-button w-100" do %>
          Done <i class=" ml-2 fas fa-check"></i>
        <% end %>

      </div>
    </div>
  </div>
</div>


