<!-- NOT ARRIVED YET - TIMER COUNTING DOWN -->

<div data-toggle="modal" data-target=".capsule_open_bd-example-modal-<%= capsule.id %>">
<div class="inbox-card pointer-hover">
  <div class="inbox-card-left">
    <%= render 'shared/inbox_outgoing_avatar', capsule: capsule %>
    <div class="name-date-sent">
      <div class="capsule-owner">
        <h2><%= capsule.users.first.first_name.capitalize %></h2>
      </div>
      <div class="capsule-sent">
        <p><em class="purple-sent">Sent on </em><em id="sent-date"><%= capsule.created_at.strftime("%d/%m/%Y")  %></em></p>
      </div>
    </div>
  </div>
  <div class="inbox-timer-title">
    <h2>
      <strong><i class="main-icon fas fa-stopwatch"></i>pens In </strong> <p id="countdown" data-arrival="<%= capsule.arrival_date %>">Calculating...</p>
    </h2>
  </div>
  <div class="inbox-card-right">
    <div class="inbox-right-details">
        <div class="inbox-capsule-icon"></div>
        <div class="inbox-arrives" id="unopened-capsule">
          <p>
            <em>Arrives on <%= capsule.arrival_date.strftime("%d/%m/%Y") %></em>
          </p>
        </div>
    </div>
  </div>
  <%= link_to capsule_path(capsule), alert: "Are you sure?", method: :delete, class: "main-icon hidden-bin", data: { confirm: "Are you sure you want to delete this capsule?"}  do %>
    <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
</div>

 <%= render 'shared/outgoing_capsule_open', capsule: capsule %>
</div>
