<!-- ARRIVED AND UNREAD -->

<div data-toggle="modal" data-target=".capsule_open_bd-example-modal-<%= capsule.id %>">
<div class="inbox-card pointer-hover" id="unread-hover">
    <div class="inbox-card-left">
      <%= render 'shared/inbox_outgoing_avatar', capsule: capsule %>
      <div class="name-date-sent">
        <div class="capsule-owner">
          <h2>
            <%= capsule.users.first.first_name.capitalize %>
          </h2>
        </div>
        <div class="capsule-sent">
          <p><em class="purple-sent">Sent on </em><em id="sent-date"><%= capsule.created_at.strftime("%d/%m/%Y")  %></em></p>
        </div>
      </div>
    </div>
    <div class="arrived-and-date">
      <div class="inbox-timer-title" id="unread-cap-text">
        <h2>
          <strong>Arrived and yet to be <i class="main-icon fas fa-stopwatch"></i>pened!</strong>
        </h2>
      </div>
      <div class="date-on-hover">
        <h3>
        Sent on <%= capsule.created_at.strftime("%d/%m/%Y") %>
        </h3>
      </div>
    </div>
    <div class="inbox-card-right">
    <div class="inbox-right-details">
        <div class="inbox-capsule-icon"></div>
        <div class="inbox-arrives" id="unopened-capsule">
          <p>
            <em>Arrived on <%= capsule.arrival_date.strftime("%d/%m/%Y") %></em>
          </p>
        </div>
    </div>
    </div>
</div>
<%= render 'shared/outgoing_capsule_open', capsule: capsule %>

</div>
