<div class="navbar navbar-expand-sm navbar-expand-md navbar-light mobile-nav navbar-lewagon drop-shadow">

  <button class="navbar-toggler" type="button" data-toggle=" " data-target="#" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
    <%= link_to inbox_path, class: "navbar-brand" do %>
      <%= image_tag "logo-main-hereafter.png" %>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo-main-hereafter.png" %>
    <% end %>
  <% end %>



 <div class="navbar-icons" id="navbarSupportedContent">
  
    <ul class="nav mr-auto d-inline">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to  class: "nav-link" do %>
            <i class="fas fa-bell nav-icon"></i>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= button_tag "/assets/images/cog-solid.svg", class: "btn btn dropdown-toggle", type: "button", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
            <i class="fas fa-cog nav-icon"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%# Desktop Navbar %>

<div class="navbar navbar-expand-sm navbar-light desktop-nav navbar-lewagon drop-shadow">

  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo-main-hereafter.png" %>
  <% end %>


  <div class="navbar-icons" id="navbarSupportedContent">
  
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to  class: "nav-link" do %>
            <i class="fas fa-bell nav-icon"></i>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= button_tag "/assets/images/cog-solid.svg", class: "btn btn dropdown-toggle", type: "button", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
            <i class="fas fa-cog nav-icon"></i>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>

        <li class="nav-item">
          <%= link_to "Login", "", data: {toggle: "modal", target: ".bd-example-modal"}, class: "nav-link mr-3" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'shared/login_form' %>
<%= render 'shared/signup_form' %>
