
<% if user.avatar_photo.present? %>
  <% if user == current_user %>
    <%= link_to avatar_path do %>
      <img class="profile-avatar-cartoon" src="<%= user.avatar_photo %>">
    <% end %>
  <% else %>
    <img class="profile-avatar-cartoon" src="<%= user.avatar_photo %>">
  <% end %>
<% else %>
  <% if user == current_user %>
    <%= link_to avatar_path do %>
      <div class="inbox-avatar"><%= user.first_name[0].upcase %></div>
    <% end %>
  <% else %>
    <img class="profile-avatar-cartoon" src="<%= user.avatar_photo %>">
  <% end %>
<% end %>

