<div class="sidebar" >

<!-- Profile Summary -->
  <div class="profile-container p-3">

    <% if user_signed_in? %>
      <h4 class="username"><%= "#{current_user.first_name } #{current_user.last_name}" %></h4>
    <% end %>
      <%= link_to "#" do %>
        <% if current_user.avatar_photo.present? %>
          <img class="avatar-profile avatar-bordered" src="<%= current_user.avatar_photo %>">
          <% else %>
          <div class="avatar-profile avatar-bordered"><%= current_user.first_name[0].upcase %></div>
        <% end %>
      <% end %>

      <p class="traveller-info mb-0">Time Traveller <%= define_title(current_user) %></p>
      <p class="traveller-info mb-1"> <strong>Level <%= define_level(current_user)%></strong> </p>

<!-- If user is level 15, removes progress bar and renders this instead -->

    <% if define_level(current_user) >= 15 %>

      <p class="text-center traveller-info" style="opacity: 1; font-size: 1rem;"> 🏆 MAX LEVEL 🏆 </p>

<!-- If the user is below level 15, renders the progress bar with experience in percentage -->
    <% else %>

      <div class="progress" style="height: 12px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress_bar(current_user) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_bar(current_user) %>%"></div>
      </div>

      <div class="progress-percentage m-1 text-center"> <p><%= progress_bar(current_user) %>%</p> </div>
    <% end %>

  </div>





<!-- ---------------------- YOUR CAPSULES TAB ------------------------------ -->

  <ul class="tabs-container mt-3 flex-column">

    <!-- Adds class active-tab to Your Capsules tab -->
    <% if current_page?(controller: 'pages', action: 'inbox') %>

      <%= link_to inbox_path, class: "active-tab sidebar-tab pages p-3 m-1" do%>
        <li>
          <i class="main-icon fas fa-capsules ml-2"></i><span class="ml-3">Your Capsules</span>
        </li>
      <% end %>

    <!-- Removes class active-tab to Your Capsules tab -->
    <% else %>

      <%= link_to inbox_path, class: "sidebar-tab pages p-3 m-1" do%>
        <li>
          <i class="main-icon fas fa-capsules ml-2"></i><span class="ml-3">Your Capsules</span>
        </li>
      <% end %>

    <% end %>




<!-- --------------------------- INCOMING TAB ------------------------------ -->

    <!-- Adds class active-tab to Incoming tab -->
    <% if current_page?(controller: 'pages', action: 'incoming') %>

      <%= link_to incoming_path, class: "active-tab sidebar-tab pages p-3 m-1" do%>
        <li>
          <i class="main-icon fas fa-stopwatch ml-2"></i><span class="ml-3">Incoming</span>
        </li>
      <% end %>

    <!-- Removes class active-tab to Incoming tab -->
    <% else %>

       <%= link_to incoming_path, class: "sidebar-tab pages p-3 m-1" do%>
        <li>
          <i class="main-icon fas fa-stopwatch ml-2"></i><span class="ml-3">Incoming</span>
        </li>
      <% end %>

    <% end %>




<!-- --------------------------- OUTGOING TAB ------------------------------ -->

    <!-- Adds class active-tab to Outgoing tab -->
      <% if current_page?(controller: 'pages', action: 'outgoing') %>

        <li class="active-tab p-3 m-1 sidebar-tab" >
          <i class="main-icon fas fa-paper-plane ml-2"></i><span class="ml-3">Outgoing</span>
        </li>

    <!-- Removes class active-tab to Outgoing tab -->
      <% else %>

        <%= link_to outgoing_path, class: "sidebar-tab pages p-3 m-1" do%>
          <li>
            <i class="main-icon fas fa-paper-plane ml-2"></i><span class="ml-3">Outgoing</span>
          </li>
        <% end %>

      <% end %>




<!-- --------------------------- OPENED TAB -------------------------------- -->

    <!-- Adds class active-tab to Opened tab -->
      <% if current_page?(controller: 'pages', action: 'opened') %>
        <%= link_to opened_path, class: "active-tab sidebar-tab pages p-3 m-1" do%>
          <li>

            <svg class="ml-2" width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 3.13956e-07H18.5C21.5376 3.13956e-07 24 2.46243 24 5.5C24 8.53757 21.5376 11 18.5 11H14V3.13956e-07Z" fill="#5A189A"/>
              <path d="M10 11H5.5C2.46243 11 -2.65552e-07 8.53757 0 5.5C2.65553e-07 2.46243 2.46243 -2.65552e-07 5.5 0L10 3.93403e-07L10 11Z" fill="#5A189A"/>
            </svg>

           <span class="m-1 ml-3">Opened</span>

          </li>
        <% end %>

    <!-- Removes class active-tab to Outgoing tab -->
      <% else %>
        <%= link_to opened_path, class: "sidebar-tab pages p-3 m-1" do%>
          <li>

            <svg class="ml-2" width="24" height="11" viewBox="0 0 24 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14 3.13956e-07H18.5C21.5376 3.13956e-07 24 2.46243 24 5.5C24 8.53757 21.5376 11 18.5 11H14V3.13956e-07Z" fill="#5A189A"/>
              <path d="M10 11H5.5C2.46243 11 -2.65552e-07 8.53757 0 5.5C2.65553e-07 2.46243 2.46243 -2.65552e-07 5.5 0L10 3.93403e-07L10 11Z" fill="#5A189A"/>
            </svg>

           <span class="m-1 ml-3">Opened</span>

          </li>
        <% end %>

      <% end %>




<!-- --------------------------- BADGES TAB -------------------------------- -->

    <!-- Adds class active-tab to Badges tab -->
      <% if current_controller?(controller: 'badges') %>

        <%= link_to badges_path, class: "active-tab sidebar-tab badges p-3 m-1" do %>
          <li>
            <i class="main-icon fas fa-certificate ml-2"></i><span class="ml-3">Badges</span>
          </li>
        <% end %>

    <!-- Removes class active-tab to Badges tab -->
      <% else %>

        <%= link_to badges_path,class: "sidebar-tab badges p-3 m-1" do %>
          <li>
            <i class="main-icon fas fa-certificate ml-2"></i><span class="ml-3">Badges</span>
          </li>
        <% end %>
      <% end %>

  </ul>

</div>


