<%= render 'shared/sidebar' %>


<div class="body-container">


  <div class="inbox-title">
    <h1> <%= @user.username %>'s Profile</h1>
  </div>
  <div class="inbox-container">
    <div class="profile-top">
      <div class="d-flex">
        <div class="profile-avatar">
          <%= render 'shared/profile_avatar', user: @user %>
        </div>
        <div class="profile-details">
          <p><span class="lighter-text">First Name: </span><strong><%= @user.first_name %></strong></p>
          <p><span class="lighter-text">Last Name: </span><strong><%= @user.last_name %></strong></p>
          <p><span class="lighter-text">Nickname: </span><strong><%= @user.username %></strong></p>
          <p><span class="lighter-text">Time Traveller Rank: </span><strong><%= define_title(@user) %> - Level <%= define_level(@user) %></strong></p>
        </div>
      </div>
      <div class="profile-stats">
        <h2>Stats</h2>
        <p><strong class="mr-2"><%= @user.owned_capsules.count %></strong> Capsule<%= 's' unless @user.owned_capsules.count == 1 %> Sent</p>
        <p><strong class="mr-2"><%= @user.owned_capsules.where(category: "Prediction").count %></strong> Prediction<%= 's' unless @user.owned_capsules.where(category: "Prediction").count == 1 %> Made</p>
        <p><strong class="mr-2"><%= @user.capsules.count %></strong> Capsule<%= 's' unless @user.capsules.count == 1 %> Received</p>
        <p><strong class="mr-2"><%= @user.capsules.read.count %></strong> Capsule<%= 's' unless @user.capsules.read.count == 1 %> Read</p>
        <p><strong class="mr-2"><%= @user.badges.count %></strong> Badge<%= 's' unless @user.badges.count == 1 %> Unlocked</p>

      </div>
    </div>
    <hr>
    <div class="profile-bottom">
      <h2>Badges</h2>
      <div class="profile-badges">
        <% @user.badges.each do |badge| %>
          <%= link_to badge_path(badge, profile: @user) do %>
            <%= image_tag(badge.image_url, class: "profile-badge") %>
          <% end %>
        <% end %>
        <% (8 - @user.badges.count).times do |placeholder| %>
          <div class="badge-placeholder"><i class="fas fa-lock"></i></div>
        <% end %>
      </div>
    </div>
    <div class="profile-stamp">
    <svg width="650" height="600" viewBox="0 0 1124 928" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M377.334 401.758V466.977H360.752V440.128H334.958V466.977H318.376V401.758H334.958V427.307H360.752V401.758H377.334Z" fill="#AA89CB"/>
    <path d="M441.038 440.221C441.038 441.707 440.941 443.255 440.747 444.866H403.219C403.478 448.087 404.545 450.564 406.419 452.298C408.359 453.97 410.718 454.807 413.498 454.807C417.635 454.807 420.512 453.134 422.128 449.79H439.777C438.872 453.196 437.223 456.262 434.831 458.987C432.504 461.713 429.563 463.849 426.007 465.398C422.452 466.946 418.476 467.72 414.08 467.72C408.779 467.72 404.06 466.637 399.922 464.469C395.785 462.301 392.553 459.204 390.225 455.178C387.898 451.152 386.734 446.445 386.734 441.057C386.734 435.668 387.866 430.961 390.128 426.935C392.456 422.909 395.688 419.812 399.825 417.645C403.963 415.477 408.714 414.393 414.08 414.393C419.316 414.393 423.971 415.446 428.044 417.552C432.116 419.658 435.284 422.661 437.547 426.563C439.874 430.465 441.038 435.018 441.038 440.221ZM424.068 436.04C424.068 433.315 423.098 431.147 421.159 429.536C419.219 427.926 416.795 427.121 413.886 427.121C411.106 427.121 408.747 427.895 406.807 429.444C404.932 430.992 403.769 433.191 403.316 436.04H424.068Z" fill="#AA89CB"/>
    <path d="M467.094 423.776C469.034 420.927 471.458 418.698 474.367 417.087C477.276 415.415 480.509 414.579 484.064 414.579V431.395H479.506C475.369 431.395 472.266 432.262 470.197 433.996C468.129 435.668 467.094 438.641 467.094 442.915V466.977H450.513V415.136H467.094V423.776Z" fill="#AA89CB"/>
    <path d="M543.723 440.221C543.723 441.707 543.626 443.255 543.432 444.866H505.905C506.164 448.087 507.23 450.564 509.105 452.298C511.044 453.97 513.404 454.807 516.184 454.807C520.321 454.807 523.198 453.134 524.814 449.79H542.463C541.558 453.196 539.909 456.262 537.517 458.987C535.19 461.713 532.248 463.849 528.693 465.398C525.137 466.946 521.162 467.72 516.766 467.72C511.465 467.72 506.745 466.637 502.608 464.469C498.471 462.301 495.238 459.204 492.911 455.178C490.584 451.152 489.42 446.445 489.42 441.057C489.42 435.668 490.551 430.961 492.814 426.935C495.141 422.909 498.374 419.812 502.511 417.645C506.648 415.477 511.4 414.393 516.766 414.393C522.002 414.393 526.657 415.446 530.729 417.552C534.802 419.658 537.97 422.661 540.232 426.563C542.56 430.465 543.723 435.018 543.723 440.221ZM526.754 436.04C526.754 433.315 525.784 431.147 523.844 429.536C521.905 427.926 519.481 427.121 516.572 427.121C513.792 427.121 511.432 427.895 509.493 429.444C507.618 430.992 506.455 433.191 506.002 436.04H526.754Z" fill="#AA89CB"/>
    <path d="M598.328 455.457H572.922L568.849 466.977H551.491L576.122 401.758H595.322L619.952 466.977H602.401L598.328 455.457ZM594.061 443.193L585.625 419.317L577.285 443.193H594.061Z" fill="#AA89CB"/>
    <path d="M655.327 428.328H646.406V466.977H629.824V428.328H623.812V415.136H629.824V413.649C629.824 407.27 631.731 402.439 635.545 399.156C639.359 395.812 644.951 394.139 652.321 394.139C653.549 394.139 654.454 394.17 655.036 394.232V407.704C651.869 407.518 649.638 407.951 648.345 409.004C647.052 410.057 646.406 411.946 646.406 414.671V415.136H655.327V428.328Z" fill="#AA89CB"/>
    <path d="M694.004 453.506V466.977H685.567C679.555 466.977 674.868 465.583 671.507 462.796C668.145 459.947 666.464 455.333 666.464 448.953V428.328H659.87V415.136H666.464V402.501H683.046V415.136H693.907V428.328H683.046V449.139C683.046 450.688 683.434 451.803 684.21 452.484C684.986 453.165 686.278 453.506 688.089 453.506H694.004Z" fill="#AA89CB"/>
    <path d="M754.973 440.22C754.973 441.707 754.876 443.255 754.683 444.866H717.155C717.414 448.086 718.48 450.564 720.355 452.298C722.295 453.97 724.654 454.806 727.434 454.806C731.571 454.806 734.448 453.134 736.064 449.79H753.713C752.808 453.196 751.159 456.262 748.767 458.987C746.44 461.712 743.499 463.849 739.943 465.398C736.388 466.946 732.412 467.72 728.016 467.72C722.715 467.72 717.996 466.636 713.858 464.469C709.721 462.301 706.489 459.204 704.161 455.178C701.834 451.152 700.67 446.445 700.67 441.056C700.67 435.668 701.802 430.961 704.064 426.935C706.392 422.909 709.624 419.812 713.761 417.644C717.899 415.477 722.65 414.393 728.016 414.393C733.252 414.393 737.907 415.446 741.98 417.551C746.052 419.657 749.22 422.661 751.483 426.563C753.81 430.465 754.973 435.018 754.973 440.22ZM738.004 436.04C738.004 433.314 737.034 431.147 735.095 429.536C733.155 427.926 730.731 427.121 727.822 427.121C725.042 427.121 722.683 427.895 720.743 429.443C718.868 430.992 717.705 433.191 717.252 436.04H738.004Z" fill="#AA89CB"/>
    <path d="M781.03 423.776C782.97 420.927 785.394 418.697 788.303 417.087C791.212 415.415 794.444 414.579 798 414.579V431.394H793.442C789.305 431.394 786.202 432.261 784.133 433.996C782.065 435.668 781.03 438.641 781.03 442.915V466.977H764.448V415.136H781.03V423.776Z" fill="#AA89CB"/>
    <circle cx="437" cy="437" r="430.5" stroke="#AA89CB" stroke-width="13"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M706.393 578C655.573 674.898 554.006 741 437 741C319.994 741 218.427 674.898 167.607 578H161.972C213.217 677.754 317.139 746 437 746C556.861 746 660.783 677.754 712.028 578H706.393ZM167.607 296C218.427 199.102 319.994 133 437 133C554.006 133 655.573 199.102 706.393 296H712.028C660.783 196.246 556.861 128 437 128C317.139 128 213.217 196.246 161.972 296H167.607Z" fill="#AA89CB"/>
    <circle cx="437" cy="437" r="414" stroke="#AA89CB" stroke-width="6" stroke-dasharray="24 16"/>
    <path d="M414.9 798.292L428.914 789.191L424.589 773.05L437.576 783.566L451.59 774.465L445.602 790.066L458.588 800.582L441.901 799.707L435.912 815.308L431.587 799.167L414.9 798.292Z" fill="#AA89CB"/>
    <path d="M300.057 768.679L315.937 763.475L315.895 746.765L325.751 760.26L341.631 755.057L331.842 768.6L341.698 782.095L325.792 776.97L316.004 790.514L315.962 773.803L300.057 768.679Z" fill="#AA89CB"/>
    <path d="M533.877 784.347L542.316 769.924L531.207 757.441L547.532 761.01L555.972 746.588L557.621 763.216L573.946 766.786L558.641 773.494L560.291 790.122L549.182 777.639L533.877 784.347Z" fill="#AA89CB"/>
    <path d="M459.324 69.5702L445.287 78.6366L449.572 94.7884L436.611 84.24L422.574 93.3064L428.601 77.7207L415.641 67.1724L432.326 68.0883L438.353 52.5026L442.638 68.6543L459.324 69.5702Z" fill="#AA89CB"/>
    <path d="M574.093 99.468L558.2 104.632L558.2 121.342L548.378 107.823L532.485 112.987L542.307 99.468L532.485 85.949L548.378 91.1128L558.2 77.5937L558.2 94.3042L574.093 99.468Z" fill="#AA89CB"/>
    <path d="M342.175 85.6279L331.872 98.7844L341.201 112.648L325.505 106.916L315.202 120.072L315.804 103.372L300.108 97.6396L316.176 93.0515L316.778 76.3519L326.107 90.216L342.175 85.6279Z" fill="#AA89CB"/>
    <line x1="94" y1="325" x2="781" y2="325" stroke="#AA89CB" stroke-width="4"/>
    <line x1="94" y1="545" x2="781" y2="545" stroke="#AA89CB" stroke-width="4"/>
    <path d="M74 395.792C74 389.662 78.9689 384.693 85.0982 384.693H201.977V406.89H85.0982C78.9689 406.89 74 401.921 74 395.792V395.792Z" fill="#AA89CB"/>
    <path d="M114.047 427.699C114.047 421.314 119.223 416.138 125.608 416.138H172.377V439.26H125.608C119.223 439.26 114.047 434.084 114.047 427.699V427.699Z" fill="#AA89CB"/>
    <rect x="87.059" y="452.208" width="58.3297" height="23.1213" rx="11.5607" fill="#AA89CB"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M229.104 470.411L177.223 416.286L189.911 403.687L241.792 457.812L229.104 470.411Z" fill="#AA89CB"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M223.626 386.182L156.102 454.907C147.058 464.112 147.058 479.036 156.102 488.241C165.146 497.446 179.809 497.446 188.853 488.241L256.377 419.516C265.421 410.311 265.421 395.387 256.377 386.182C247.333 376.977 232.67 376.977 223.626 386.182ZM143.568 442.15C127.601 458.4 127.601 484.748 143.568 500.998C159.534 517.249 185.421 517.249 201.387 500.998L268.911 432.273C284.877 416.022 284.877 389.675 268.911 373.424C252.945 357.174 227.058 357.174 211.091 373.424L143.568 442.15Z" fill="#AA89CB"/>
    <path d="M508 780.627C514.39 785.122 524.024 785.121 530.414 780.627L563.783 757.151C589.57 739.009 628.463 739.009 654.25 757.151L687.62 780.628C694.009 785.122 703.646 785.123 710.035 780.628L743.223 757.279C755.614 748.562 771.669 743.766 788.454 743.766H788.67C805.533 743.808 821.633 748.685 834.004 757.5L866.024 780.318C872.457 784.901 882.162 784.901 888.595 780.318L920.615 757.5C932.986 748.685 949.086 743.809 965.949 743.767C982.79 743.749 998.953 748.525 1011.4 757.28L1044.59 780.629C1050.97 785.123 1060.61 785.124 1067 780.629M1067 658.611C1060.61 663.107 1050.97 663.107 1044.59 658.611L1011.4 635.262C998.953 626.508 982.789 621.733 965.949 621.75C949.086 621.791 932.986 626.669 920.615 635.483L888.595 658.3C882.162 662.884 872.457 662.884 866.024 658.3L834.004 635.483C821.633 626.668 805.533 621.79 788.67 621.749C788.598 621.749 788.526 621.749 788.454 621.749C771.668 621.749 755.612 626.544 743.223 635.261L710.035 658.61C703.646 663.106 694.009 663.106 687.62 658.61L654.25 635.133C628.463 616.991 589.57 616.992 563.783 635.133L530.414 658.61C524.024 663.104 514.39 663.105 508 658.61M508 722.981C514.39 727.477 524.024 727.476 530.414 722.981L563.783 699.505C589.57 681.363 628.463 681.363 654.25 699.505L687.62 722.982C694.009 727.477 703.646 727.478 710.035 722.982L743.223 699.633C755.614 690.916 771.669 686.121 788.454 686.121H788.67C805.533 686.162 821.633 691.04 834.004 699.855L866.024 722.672C872.457 727.256 882.162 727.256 888.595 722.672L920.615 699.855C932.986 691.04 949.086 686.163 965.949 686.122C982.79 686.104 998.953 690.88 1011.4 699.634L1044.59 722.983C1050.97 727.478 1060.61 727.479 1067 722.983M508 598.083C514.39 602.578 524.024 602.577 530.414 598.083L563.783 574.607C589.57 556.464 628.463 556.464 654.25 574.607L687.62 598.084C694.009 602.578 703.646 602.579 710.035 598.084L743.223 574.734C755.614 566.017 771.669 561.222 788.454 561.222H788.67C805.533 561.263 821.633 566.141 834.004 574.956L866.024 597.773C872.457 602.357 882.162 602.357 888.595 597.773L920.615 574.956C932.986 566.141 949.086 561.264 965.949 561.223C982.79 561.205 998.953 565.981 1011.4 574.735L1044.59 598.085C1050.97 602.579 1060.61 602.58 1067 598.085" stroke="#AA89CB" stroke-width="4"/>
    </svg>
    </div>
  </div>
</div>
