<!DOCTYPE html>
<html>
  <head>
    <title>HereAfter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Adding favicon -->
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>


    <!-- Function for the clock -->
        <script>
          function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
            h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 1000);
          }
          function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
          }
        </script>

  </head>

  <body onload="startTime()">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>

    <%= yield %>

  </body>
</html>
